name: "Methuku"
title: "Methuku"
description: ""
meta_description: ""
logo: '/assets/img/logos/methuku.png'
favicon: 'assets/images/favicon.ico'
baseurl: ''
url: 'https://methuku.com'
email: 'hello@methukumail.com'
google_analytics: 'UA-178018885-1'

plugins: 
  - jekyll-feed
  - jekyll-seo-tag
  - jekyll-archives

sass:
  style: compressed
        
jekyll-archives:
  enabled:
    - categories
  layout: archive
  permalinks:
    category: '/category/:name/'
    
markdown: kramdown
highlighter: rouge

exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/