<div id="top-bar" class="top-bar">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8">
        <ul class="top-info text-center text-md-left text-warning">
          <li><i class="fas fa-map-marker-alt"></i>
            <a class="text-warning" href="https://goo.gl/maps/N1rjN7mq75D4LNF8A">Raju Prakruthi Vyavasaaya Kshethram,
              Telangana</a>
          </li>
        </ul>
      </div>
      <!--/ Top info end -->

      <div class="col-lg-4 col-md-4 top-social text-center text-md-right">
        <ul class="list-unstyled">
          <li>
            <b>
              <a title="Youtube" class="text-danger" href="https://youtube.com/channel/UClsy0hj3wUFVLLmZIJmK6KQ">
                <span class="social-icon"><i class="fab fa-youtube"></i></span>
              </a>
              <a title="Facebook" class="text-info" href="https://www.facebook.com/metukuseema">
                <span class="social-icon"><i class="fab fa-facebook-f"></i></span>
              </a>
            </b>
          </li>
        </ul>
      </div>
      <!--/ Top social end -->
    </div>
    <!--/ Content row end -->
  </div>
  <!--/ Container end -->
</div>
<!--/ Topbar end -->
<!-- Header start -->
<header id="header" class="header-two">
  <div class="site-navigation">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <nav class="navbar navbar-expand-lg navbar-light p-0">

            <div class="logo">
              <a class="d-block" href="/">
                <img loading="lazy" src="images/logo.png" alt="Methuku">
              </a>
            </div>
            <button class="navbar-toggler btn-sm" type="button" data-toggle="collapse"
              href="https://l.facebook.com/l.php?u=https%3A%2F%2Fwa.me%2Fmessage%2FI5QTNU6SK3ILB1%3Ffbclid%3DIwAR2DOu8OMqUBv228VLdGDNeo04NCGcW99irFBUzh9ZI_6TqJbOllU1UIBfc&h=AT2KxnFIlJBVDf4gpeoN8dlInxV-qLPXqInzh8Pli3QZPNsRk5j7PCvdTcqnQUgLnl74DT68tv9XZX7igsIPxfFbh6vOuyK_AAORdAD1VyaUVJQ_mL9DE0iF6sAq&__tn__=-UK-R&c[0]=AT27f_VIoJ0fb4wTPq8rOK0oPeu5KxpFu2Qo1-0LeR5QSJNlq8Ys2Xymsf_ww6ZO9uDb9VxYTe5WGo_zAjpftlTLsxUcuAvc1NpHNGanSAZDCj-GRfr4mbUfUbZTCY3uI1HhkWW5JTPZ17lPEuTmyScegY3cOybgqyTdZMpWMNOMhp0fh-udg7yAs9CkM6oxKu1d">
              <span style="color: #fff !important;">Whatsapp</span>
            </button>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
              aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div id="navbar-collapse" class="collapse navbar-collapse">
              <ul class="nav navbar-nav ml-auto align-items-center">

                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item dropdown">
                  <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Natural Farm
                    <i class="fa fa-angle-down"></i>
                  </a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="about">About Us</a></li>
                    <li><a href="/our-journey">Our Journey</a></li>
                    <li><a href="/helping-hands">Helping Hands</a></li>
                    <li><a href="/faq">Faq</a></li>
                  </ul>
                </li>

                <li class="nav-item dropdown">
                  <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                    Projects
                    <i class="fa fa-angle-down"></i></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="/heirloom-seeds">Heirloom Seed</a></li>
                    <li><a href="/morphology">Morphology</a></li>
                    <li><a href="/agro-tool">Agro-Tools</a></li>
                  </ul>
                </li>
                <li class="nav-item"><a class="nav-link" href="contact">Contact</a></li>
                <li class="nav-item"><a class="nav-link" href="news">News</a></li>
                <li class="header-get-a-quote">
                  <a class="btn btn-primary" type="button" data-toggle="collapse" data-target=".navbar-collapse"
                    aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation"
                    href="https://l.facebook.com/l.php?u=https%3A%2F%2Fwa.me%2Fmessage%2FI5QTNU6SK3ILB1%3Ffbclid%3DIwAR2DOu8OMqUBv228VLdGDNeo04NCGcW99irFBUzh9ZI_6TqJbOllU1UIBfc&h=AT2KxnFIlJBVDf4gpeoN8dlInxV-qLPXqInzh8Pli3QZPNsRk5j7PCvdTcqnQUgLnl74DT68tv9XZX7igsIPxfFbh6vOuyK_AAORdAD1VyaUVJQ_mL9DE0iF6sAq&__tn__=-UK-R&c[0]=AT27f_VIoJ0fb4wTPq8rOK0oPeu5KxpFu2Qo1-0LeR5QSJNlq8Ys2Xymsf_ww6ZO9uDb9VxYTe5WGo_zAjpftlTLsxUcuAvc1NpHNGanSAZDCj-GRfr4mbUfUbZTCY3uI1HhkWW5JTPZ17lPEuTmyScegY3cOybgqyTdZMpWMNOMhp0fh-udg7yAs9CkM6oxKu1d">
                    <span style="color: #fff !important;">Whatsapp</span>
                  </a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
        <!--/ Col end -->
      </div>
      <!--/ Row end -->
    </div>
    <!--/ Container end -->

  </div>
  <!--/ Navigation end -->
</header>
<!--/ Header end -->