<title>{{ page.title }}</title>
<meta property="og:title" content="{{ page.title }}" />
<meta property="og:locale" content="en_US" />
<meta name="description" content="{{ page.description }}" />
<meta property="og:description" content="{{ page.description }}" />
<link rel="canonical" href="{{ page.canonical_url }}" />
<meta property="og:url" content="https://methuku.com/" />
<meta property="og:site_name" content="Methuku" />
<meta property="og:image" content="https://methuku.com/assets/img/logos/methuku.png" />
<script
    type="application/ld+json"> {"publisher":{"@type":"Organization","logo":{"@type":"ImageObject","url":"https://methuku.com/assets/img/logos/methuku.png"}},"description":"Methuku SPNF Heirloom Seeds","headline":"Methuku SPNF Heirloom Seeds","@type":"WebSite","image":"https://methuku.com/assets/img/logos/methuku.png","url":"https://methuku.com/","name":"Methuku","@context":"https://schema.org"}</script>